include Makefile
include README
include INSTALL
include COPYRIGHT
include CONTRIBUTORS
include ChangeLog
recursive-include tests *.py
recursive-include tests *.out
recursive-include scripts *.py
include docs/*.tex
include docs/*.sty
include docs/*.pdf
include docs/Makefile
include docs/Doxyfile
